
.container {
  width: 100%;
  height: 80vh;
  background-image: url('../Images/dan-gold-4_jhDO54BYg-unsplash.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event_list_div {
 width: 60%;
 background-color: white;
 height:fit-content;
}

/* Event Page */
.event_wrapper {
  width: 70%;
  background-color: white;
  height:fit-content;
 }
 
.event_details {
  display: flex;
  justify-content: space-evenly;
  padding: 3%;
}
.div_details {
  width: 20%;
  background-color: #dddcb4;
  border: 1px solid grey;
  border-radius: 5px;
}
.div_attendees {
  width: 20%;
  background-color: #dddcb4;
  border: 1px solid grey;
  border-radius: 5px;
}
.div_items {
  width: 35%;
  background-color: #dddcb4;
  border: 1px solid grey;
  border-radius: 5px;
}
.div_buttons {
  width: 15%;
}
.delete-button {
  background-color: red;
  color: black;
}
.delete-button:hover {
  background-color: palevioletred;
}

/* Event List Item */
.event_list_item {
  border: 1px solid grey;
  border-radius: 15px;
  margin: 5% 2%;
}

.event_list_item:hover {
  background-color: black;
  color: white;
}